@import "../mixins/variables.scss";

body {
    font-family: "Barlow", sans-serif;
    font-weight: $--weight-regular;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/morning1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
