$--1--white: #ffffff;

$--font-xxl: 70px;
$--font-xl: 50px;
$--font-large: 40px;
$--font-medium: 25px;
$--font-small: 20px;
$--font-xs: 15px;

$--weight-bold: 700;
$--weight-medium: 500;
$--weight-regular: 400;
$--weight-light: 300;
